In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [3]:
mpg = pd.read_csv('mpg.csv')
mpg.dropna(subset = ['horsepower'], inplace = True)
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [4]:
mpg.drop(mpg.columns[[2,7,8]], axis=1, inplace=True)

In [5]:
mpg.head()

    mpg  cylinders  horsepower  weight  acceleration  model year
0  18.0          8       130.0    3504          12.0          70
1  15.0          8       165.0    3693          11.5          70
2  18.0          8       150.0    3436          11.0          70
3  16.0          8       150.0    3433          12.0          70
4  17.0          8       140.0    3449          10.5          70

In [6]:
mpg.isnull().any()

mpg             False
cylinders       False
horsepower      False
weight          False
acceleration    False
model year      False
dtype: bool

In [7]:
mpg.corr()

,mpg,cylinders,horsepower,weight,acceleration,model year
mpg,1.000000,-0.777618,-0.778427,-0.832244,0.423329,0.580541
cylinders,-0.777618,1.000000,0.842983,0.897527,-0.504683,-0.345647
horsepower,-0.778427,0.842983,1.000000,0.864538,-0.689196,-0.416361
weight,-0.832244,0.897527,0.864538,1.000000,-0.416839,-0.309120
acceleration,0.423329,-0.504683,-0.689196,-0.416839,1.000000,0.290316
model year,0.580541,-0.345647,-0.416361,-0.309120,0.290316,1.000000

In [8]:
X = mpg[['horsepower', 'weight']]
Y = mpg['mpg']

In [11]:
X = sm.add_constant(X)
reg_res = sm.OLS(Y, X).fit()
print(reg_res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.706
Model:                            OLS   Adj. R-squared:                  0.705
Method:                 Least Squares   F-statistic:                     467.9
Date:                Thu, 31 Oct 2024   Prob (F-statistic):          3.06e-104
Time:                        15:52:52   Log-Likelihood:                -1121.0
No. Observations:                 392   AIC:                             2248.
Df Residuals:                     389   BIC:                             2260.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         45.6402      0.793     57.540      0.000      44.081      47.200
horsepower    -0.0473      0.011     -4.267      0.000      -0.069      -0.026
weight        -0.0058      0.001    -11.535      0.000      -0.007      -0.005
==============================================================================
Omnibus:                       35.336   Durbin-Watson:                   0.858
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               45.973
Skew:                           0.683   Prob(JB):                     1.04e-10
Kurtosis:                       3.974   Cond. No.                     1.15e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.15e+04. This might indicate that there are
strong multicollinearity or other numerical problems.